@media (min-width: 768px) {
    nav {
        display: block;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    #menuBtn {
        display: none;
    }

    .intro-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    .course-list {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
}