/* --------------------------
   Medium Screens (Tablets)
-------------------------- */
@media (min-width: 600px) and (max-width: 899px) {
    body {
        font-size: 1rem;
    }

    main h1 {
        font-size: 2.25rem;
    }

    .card img {
        height: 220px;
    }

    .card-content h2 {
        font-size: 1.5rem;
    }

    .cards-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    nav ul {
        gap: 1.5rem;
    }
}