:root {
    --primary-color: #1f2933;
    --secondary-color: #f9fafb;
    --accent-color: #2563eb;
    --font-main: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    line-height: 1.6;
}