@media (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: center;
    }

    main {
        max-width: 1100px;
        margin: auto;
    }

    section {
        padding: 1rem;
    }
}