@media (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: center;
        color: #ffffff;
    }

    main {
        max-width: 1100px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
    }

    main section:first-of-type {
        grid-row: span 2;
    }

    section {
        padding: 1rem;
    }
}